#bigbox {
	height:1540px;
	width:976px;
}

header {
	display:inline;
	float:left;
	width:200px;
	background-color:#AEAEAE;
	height:160px;
	padding-top:0px;
	text-align:center;
}

footer {
	margin-top:30px;
	background-color:#AEAEAE;
	height:160px;
	width:100%;
	text-align:right;
	padding-right:50px;
	clear:both;
}

.large_font {
	font-family:sans-serif;
	font-size: 100px;
	font-weight: bold;
	color:#CC0000;
}

.small_font {
	font-family:sans-serif;
	font-size:20px;
	font-weight:bold;
	color:white;
}

#menutop {
	font-family:Arial;
	font-size:13px;
	text-align:center;
	background-color:#CC0000;
	height:30px;
	width:340px;
	color: white;
	margin-top:70px;
	padding-top:12px;
}

#medbox_top	{
	background-color:#585858;
	height:475px;
	width:975px;
	clear:both;
}

#bar {
	background-color:#CC0000;
	height:10px;
	width:975px;
	margin-top:5px;
	margin-bottom:5px
}

.gray_blocks {
	background-color:#AEAEAE;
	height:90px;
	width:295px;
	display:inline-block;		
}

#blog {
	border: 2px;
	border-color:gray;
	border-style:solid none solid none;
    font-family:sans-serif;
	font-size: 24px;
	font-weight:bold;
	height:34px;
	width:975;
}

.sidebox {
	background-color:#AEAEAE;
	height:200px;
	width:230px;
	display:block;
	clear:both;
	float:left;
}

.content {
	margin:5px;
	padding:2px;
}

.contenthead {
	margin:3px;
}

.readmore {
	background-color:#CC0000;
	color:white;
	border:none;
}

section {
	display:inline;
	float:left;
	width:65%;
}

#searchetc {
	display:inline;
	border-left:1px solid gray;
	height:600px;
	width:297px;
	float:right;
	padding-left:5px;
	padding-top:5px;
}

button {
	background-color:#AEAEAE;
	color:#51514D;
}