#bigbox {
	height:1540px;
	width:976px;
}

.headandfoot {
	background-color:#AEAEAE;
	height:160px;
	width:200px;
	font-family:sans-serif;
	font-size: 100px;
	font-weight: bold;
	text-align:center;
	color: #CC0000;
}

.headandfoot > span {
	font-size: 20px;
	color: white;
}

#menutop {
	font-family:Arial;
	font-size:13px;
	text-align:center;
	background-color:#CC0000;
	height:20px;
	width:340px;
	color: white;
}

#mainbox 
{
	background-color:#585858;
	height:475px;
	width:975px;
	clear:both;
}

#bar {
	background-color:#CC0000;
	height:10px;
	width:975px;
	margin-top:5px;
	margin-bottom:5px
}

.gray_blocks {
	background-color:#AEAEAE;
	height:90px;
	width:295px;
	display:inline-block;		
}

#blog {
	border: 2px;
	border-color:gray;
	border-style:solid none solid none;
    font-family:sans-serif;
	font-size: 24px;
	font-weight:bold;
	height:34px;
	width:975;
}

.sidebox {
	background-color:#AEAEAE;
	height:200px;
	width:230px;
	display:block;
	clear:both;
	float:left;
}